---
import ImageZoom from "../../section/ImageZoom.astro";
import Paragraph from "../../section/Paragraph.astro";
import Section from "../../section/Section.astro";
import Title from "../../section/Title.astro";
import MisionImg from "../../../assets/img/historia.jpg";

const id = "section-supplies-mechanical"
const title = "Suministro de materiales y accesorios mecánicos";
const alt = "historia";
const text =
  "Somos importadores directos de accesorios mecánicos para la industria como válvulas, bridas, uniones, olets y tubería en acero al carbono y acero inoxidable de uso industrial.";

---

<Section id={id}>
  <Title slot="title">{title}</Title>
  <Paragraph slot="left">{text}</Paragraph>;
  <ImageZoom slot="right" src={MisionImg} alt={alt} />
</Section>
