---
import ImageZoom from "../../basic/ImageZoom.astro";
import Paragraph from "../../basic/Paragraph.astro";
import Section from "../../basic/Section.astro";
import Title from "../../basic/Title.astro";
import MisionImg from "../../../assets/img/historia.jpg";

const id = "section-supplies-mechanical";
const title = "Suministro de materiales y accesorios mecánicos";
const alt = "historia";
const text =
  "Somos importadores directos de accesorios mecánicos para la industria como válvulas, bridas, uniones, olets y tubería en acero al carbono y acero inoxidable de uso industrial.";
---

<Section id={id}>
  <Title slot="title">{title}</Title>
  <Paragraph slot="left">{text}</Paragraph>;
  <ImageZoom slot="right" src={MisionImg} alt={alt} />
</Section>
