---
import ImageZoom from "../../section/ImageZoom.astro";
import TextList from "../../section/TextList.astro";
import Title from "../../section/Title.astro";

import CathodicImg from "../../../assets/img/historia.jpg";
import Paragraph from "../../section/Paragraph.astro";

const contentData = {
  id: "section-services-welding-quality",
  title: "Sistemas de protección catódica",
  description: [
    "Diseño e inspección de sistemas de protección catódica a líneas, tanques, recipientes y estructuras metálicas que se encuentren sometidas a fenómenos de corrosión.",
    "Nuestros diseños están avalados por un profesional NACE CP4 según la necesidad del cliente.",
  ],
  image: CathodicImg,
  imageAlt: "Imagen de protección catódica",
  evaluationHeader:
    "Evaluación, Diagnóstico, mantenimiento, recalibración de sistemas de protección catódica.",
  evaluationList: [
    "Estudios ECDA (External Corrosion Direct Assessment).",
    'Estudios de potenciales a intervalos cortos "ON-OFF" CIS (Close Intervalo Survey).',
    "Diagnóstico y reparación de rectificadores.",
    "Análisis de aislamiento eléctrico de tuberías.",
    "Detección y mitigación de interferencias.",
    "Marcaciones con GPS submétrico.",
    "Estudio de suelos.",
    "Estudios Geoeléctricos.",
    "Mantenimiento de estaciones de monitoreo.",
    "Limpieza de estructuras mediante chorro a presión.",
  ],
  inspectionHeader: "Inspección en sistemas de protección catódica.",
  inspectionList: [
    "PCM (Pipeline Current Mapper).",
    "DCVG (Direct Current Voltage Gradient).",
    "Continuidad del revestimiento.",
    "Pruebas de adherencia.",
    "Espesores de placa metálica y recubrimiento.",
    "Espesores de película seca y húmeda.",
  ],
};
---

<section id={contentData.id}>
  <div class="p-t-50">
    <Title slot="title">{contentData.title}</Title>
  </div>
  <div slot="bottom" class="container p-t-22">
    <div class="p-2 p-sm-1 p-md-3 p-lg-5">
      <TextList items={contentData.description} />
      <div class="p-t-22">
        <ImageZoom src={contentData.image} alt={contentData.imageAlt} />
      </div>

      <h4 class="p-t-22">{contentData.evaluationHeader}</h4>
      <TextList items={contentData.evaluationList} />
      <h4 class="p-t-22">
        {contentData.inspectionHeader}
      </h4>
      <TextList items={contentData.inspectionList} />
    </div>
  </div>
</section>
