---
import ImageZoom from "../../section/ImageZoom.astro";
import Section from "../../section/Section.astro";
import TextList from "../../section/TextList.astro";

import MisionImg from "../../../assets/img/historia.jpg";
import Separator from "../../section/Separator.astro";

const id = "section-services-load-analysis";
const title = "Análisis de carga";
const items = [
  "Calculo esfuerzo cíclico longitudinal.",
  "Verificación de esfuerzo efectivo admisible.",
  "Verificación de esfuerzos admisibles de barlow.",
  "Calculo esfuerzo circunferencial debido a cargas del terreno.",
];
---

<Section id={id}>
  <Separator slot="separator">{title}</Separator>
  <TextList slot="left" items={items} />
  <ImageZoom slot="right" src={MisionImg} alt={title} />
</Section>
