---
import Section from "../../basic/Section.astro";
import Separator from "../../basic/Separator.astro";
import Title from "../../basic/Title.astro";
import TextList from "../../basic/TextList.astro";
import ObjectList from "../../basic/ObjectList.astro";

const content = {
  id: "section-services-consulting",
  title: "SERVICIO DE CONSULTORIA TECNICA",
  paragraphs: [
    "En DILAGO INGENIERIA SAS contamos con especialistas en áreas como soldadura, corrosión interna y externa, análisis de cargas e integridad que cuentan con el talento técnico y ético para desarrollar los proyectos requeridos por el cliente.",
    "Nuestras consultorías más frecuentes:",
  ],
  consultancies: {
    "API RP 1102": "“Pipelines crossing railroad highways.”",
    "API 653": "“Tank Inspection, Repair, Alteration and Reconstruction”",
    "API 510":
      "“Pressure Vessel Inspection Code Maintenance Inspection, Rating,”",
    "API 570":
      "“Piping Inspection Code: In-service Inspection, Rating, Repair, and Alteration of Piping Systems”",
    "API RP 580": "“Risk-Based Inspection”",
    "API 579": "“Fitness-For-Service”",
  },
};
---

<Section id={content.id}>
  <Title>{content.title}</Title>
  <Separator slot="separator">{content.title}</Separator>
  <div slot="bottom" class="container p-t-22">
    <TextList items={content.paragraphs} />
    <div class="p-t-30">
      <ObjectList object={content.consultancies} inline />
    </div>
  </div>
</Section>
