---
import ImageZoom from "../../basic/ImageZoom.astro";
import Separator from "../../basic/Separator.astro";
import TextList from "../../basic/TextList.astro";

import WeldingImg from "../../../assets/img/historia.jpg";
import Paragraph from "../../basic/Paragraph.astro";

const weldingData = {
  id: "section-services-welding-quality",
  title: "CALIFICACIÓN DE SOLDADURAS",
  description: [
    "Especificación del procedimiento de soldadura (WPS)",
    "En este documento se plasman las variables esenciales y no esenciales que involucran la soldadura, para esto es necesario la participación del inspector de soldadura, supervisor de soldadura y un soldador.",
  ],
  image: WeldingImg, // Replace with the actual image source
  imageAlt: "Imagen de calificación de soldaduras",
  servicesHeader:
    "Para la calificación de procedimientos de soldaduras se ofrecen los siguientes servicios:",
  servicesList: [
    "Pruebas de tensión",
    "Ensayos de doblez",
    "Inspección visual",
    "Radiografía",
    "Partículas magnéticas",
    "Ultrasonido",
    "Ensayos de dureza",
    "Pruebas de doblez",
    "Identificación positiva de materiales (PMI)",
    "Macroataque",
  ],
  pqrHeader: "Calificación de procedimientos de soldadura (PQR)",
  pqrDescription:
    "Cada procedimiento debe estar respaldado por pruebas verificables y a su vez estas se deben registrar con los factores esenciales y relevantes en el proceso. DILAGO INGENIERIA S.A.S cuenta con personal altamente calificado para desarrollar WPS según códigos como ASME, API Y AWS.",
  soldadoresHeader: "Calificación de soldadores (PQR)",
  soldadoresDescription:
    "La destreza o aptitud que tenga el soldador es de fundamental relevancia a la hora de completar y conseguir con éxito un procedimiento de soldadura, para esto es necesario que el operario demuestre sus capacidades realizando soldadura específicas según API, ASME o AWS exijan. En DILAGO INGENIERÍA S.A.S contamos con personal idóneo como CWI o ICS o inspector ACOSEND para realizar dichas calificaciones si así el cliente lo requiere.",
};
---

<section id={weldingData.id}>
  <Separator slot="separator">{weldingData.title}</Separator>
  <div slot="bottom" class="container p-t-22">
    <div class="p-2 p-sm-1 p-md-3 p-lg-5">
      <TextList items={weldingData.description} />
      <ImageZoom src={weldingData.image} alt={weldingData.imageAlt} />

      <h4 class="p-t-22">{weldingData.servicesHeader}</h4>
      <TextList items={weldingData.servicesList} />

      <h4 class="p-t-22">{weldingData.pqrHeader}</h4>
      <Paragraph>{weldingData.pqrDescription}</Paragraph>

      <h4 class="p-t-22">{weldingData.soldadoresHeader}</h4>
      <Paragraph>{weldingData.soldadoresDescription}</Paragraph>
    </div>
  </div>
</section>
