---
import ImageZoom from "../../basic/ImageZoom.astro";
import TextList from "../../basic/TextList.astro";
import Separator from "../../basic/Separator.astro";
import Section from "../../basic/Section.astro";

import ImageWorker from "../../../assets/img/nm-worker.jpg";
import ImageElbow from "../../../assets/img/nm-elbow.jpg";
import BannerImg from "../../../assets/img/tech-option-2.jpg";

const contentData = {
  id: "section-non-metallic",
  title: "Soluciones de refuerzo no metálico para tubería",
  description: [
    "El sistema de reparación compuesto ofrecido a través de DILAGO INGENIERIA certificado por ASME PC C-2, fortalece y refuerza la integridad de la pared de la tubería sin interrumpir el flujo, reparando una multitud de defectos y soportando hasta un 80% de pérdida de pared.",
  ],
  images: [ImageWorker, ImageElbow],
  banner: BannerImg,
  imageAlt: "Refuerzo no metálico FRP",
  footer: "Fig 1 y 2: Piloto desarrollado para ODL. Caso de éxito.",
};
---

<Section id={contentData.id} className="bg-white">
  <Separator slot="separator" img={contentData.banner}
    >{contentData.title}</Separator
  >

  <div slot="left">
    <div class="row">
      {
        contentData.images.map((img, index) => (
          <div class="col-md-6 m-b-15">
            <ImageZoom src={img} alt={`${contentData.imageAlt} ${index + 1}`} />
          </div>
        ))
      }
    </div>
    <p class="text-center text-muted mt-2">
      <small>{contentData.footer}</small>
    </p>
  </div>

  <div slot="right">
    <TextList items={contentData.description} />
  </div>
</Section>
```
