---
import ImageZoom from "../../basic/ImageZoom.astro";
import TextList from "../../basic/TextList.astro";
import Separator from "../../basic/Separator.astro";
import Section from "../../basic/Section.astro";

import PlaceholderImg from "../../../assets/img/cropped-solar-panels.png";
import BannerImg from "../../../assets/img/tech-option-3.jpg";

const contentData = {
  id: "section-solar-panels",
  title: "Páneles solares de eficiencia superior a los convencionales",
  description: [
    "Esta nueva tecnología esta conformada por unos paneles con un rendimiento récord del 26,9 %, este innovador módulo supera en un 25 % la eficiencia de los paneles solares convencionales, permitiendo generar hasta un 20 % más de energía en el mismo espacio.",
    "Su diseño de doble vidrio, ligero y compacto, lo hace ideal para aplicaciones residenciales y comerciales, reduciendo costos de instalación y maximizando la producción energética.",
  ],
  image: PlaceholderImg,
  banner: BannerImg,
  imageAlt: "Páneles solares de alta eficiencia",
};
---

<Section id={contentData.id}>
  <Separator slot="separator" img={contentData.image}
    >{contentData.title}</Separator
  >

  <div slot="left">
    <TextList items={contentData.description} />
  </div>

  <div slot="right">
    <ImageZoom src={contentData.image} alt={contentData.imageAlt} />
  </div>
</Section>
