---
import ImageZoom from "../../section/ImageZoom.astro";
import Section from "../../section/Section.astro";
import Img from "../../../assets/img/historia.jpg";
import AnchorButton from "../../basic/AnchorButton.astro";
import Paragraph from "../../section/Paragraph.astro";
import ObjectList from "../../section/ObjectList.astro";

import { training as brochure } from "../../../constants/brochures.js";

const id = "section-items";
const alt = "items";
const text = "Conoce nuestras capacitaciones y calificaciones más frecuentes:";

const items = {
  "Capacitación y calificación en ensayos no destructivos":
    " Inspección visual Nivel II, Ultrasonido medición de espesores, Líquidos penetrantes Nivel II, Partículas Magnéticas nivel II. Ente calificador: Nivel lll ASNT",
  "Profundización en soldadura. Ente calificador":
    " ACOSEND (Asociación colombiana de soldadura y ensayos no destructivos)",
  "Programa de capacitación y calificación de interventores para inspección de recubrimientos industriales. Ente calificador":
    "ASCOR (Asociación colombiana de corrosión y proyección)",
};
---

<Section id={id}>
  <div slot="right">
    <Paragraph>{text}</Paragraph>
    <ObjectList object={items} />
    <div class="text-center">
      <AnchorButton href={brochure.href} download={brochure.name} dark>
        {brochure.title}
      </AnchorButton>
    </div>
  </div>
  <ImageZoom slot="left" src={Img} alt={alt} />
</Section>
