---
import Separator from "../../section/Separator.astro";
import ImageZoom from "../../section/ImageZoom.astro";
import Section from "../../section/Section.astro";
import PoliticasImg from "../../../assets/img/historia.jpg";
import Paragraph from "../../section/Paragraph.astro";

const id = "section-politicas";
const title = "Políticas";
const alt = "historia";
const politicas = {
  "Política de calidad": "",
  "Política de seguridad vial": "",
  "Política HSE": "",
  "Política de no alcohol, drogas y tabaquismo": "",
  "Política de prevención de acoso laboral": "",
  "Política anticorrupción": "",
  "Política de responsabilidad socia": "",
  "Política contratación personal": "",
  "Política de desconexión laboral": "",
};
---

<Section id={id}>
  <Separator slot="separator">{title}</Separator>
  <div slot="left" class="h-100 d-flex flex-column justify-content-center">
    <ul class="d-flex row align-items-center gap-1">
      {
        Object.entries(politicas).map(([title, text]) => (
          <li>
            <Paragraph>{title}</Paragraph>
          </li>
        ))
      }
    </ul>
  </div>
  <ImageZoom slot="right" src={PoliticasImg} alt={alt} />
</Section>
